body {
    background-color: #1c2327;
}
/* mucho copypasta from https://css-tricks.com/how-to-create-neon-text-with-css/ */
.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
        0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

@keyframes pulsate {
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
            0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }

    0% {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
            0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
    }
}

.sapUiGlobalBackgroundColor,
.sapMShellGlobalInnerBackground,
.sapMPageBgStandard {
    background-color: unset !important;
}

.why,
.sapMPanelHdr,
.cfp,
.where,
.when,
.what {
    font-family: "Source Code Pro", monospace !important;
}

.hereswhy {
    color: whitesmoke !important;
    font-size: 1.1rem !important;
    line-height: 1.4em !important;
}
.why {
    padding-top: 0.5em;
    text-align: left;
}
.cfp {
    padding-top: 1em;
    font-size: 1.5rem !important;
}

.glow {
    animation: pulsate 1.5s infinite alternate;
}

.what {
    color: whitesmoke !important;
    font-size: 2.5rem !important;
    animation: pulsate 1.5s infinite alternate;
    border: 0.1rem solid #fff;
    border-radius: 2rem;
    padding: 1.5em;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa;
}
.when {
    padding-top: 2em;
    color: whitesmoke !important;
    font-size: 1.5rem !important;
}
.where {
    padding-top: 1.5em;
    color: whitesmoke !important;
    font-size: 1.1rem !important;
}
.center {
    text-align: center;
}

.sapMPanel>.sapMPanelHdr,
.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
    border-bottom: 0 !important;
}
