.recap-agenda-filter {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    word-break: none;
    white-space: nowrap;
    align-items: flex-end;
    margin-block-start: 3rem;
}

.recap-agenda-filter-container {
    flex: 1;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.recap-agenda-filter fieldset {
    border: none;
    display: flex;
    margin-inline: 0;
    position: relative;
    border: 1px solid var(--brand-color);
}

.recap-agenda-filter label {
    cursor: pointer;
}

.recap-agenda-filter fieldset > div {
    font-weight: 600;
    padding-inline: 0.5rem;
    padding-block: 0.35rem;
}

.recap-agenda-filter fieldset > div:has(input:checked) {
    color: white;
    background-image: linear-gradient(45deg, var(--brand-color-alt), var(--brand-color));;
}

.recap-agenda-filter fieldset > div:not(:last-child) {
    border-inline-end: 1px solid var(--brand-color);
}

.recap-agenda-filter input {
    width: 0;
    height: 0;
    display: none;
}

.recap-agenda {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.recap-agenda-slot-time {
    top: -5rem;
    left: 50%;
    position: absolute;
    font-weight: 900;
    text-align: center;
    font-size: var(--type-4);
    transform: translateX(-50%);
    background-image: linear-gradient(35deg, var(--brand-color), var(--brand-color-alt));
    background-clip: text;
    color: transparent;
}

.recap-agenda-slot-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-block-start: 9rem;
    text-align: start;
    position: relative;
}

/* Presentation section */
.recap-agenda-slot-talk {
   width: 100%;
}

.recap-agenda-slot-info {
    gap: 0.5rem;
    display: flex;
    font-weight: 600;
    margin-block-end: 1rem;
}

.recap-agenda-slot-info span {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.recap-agenda-slot-talk h3 {
    font-size: var(--type-2);
}

.recap-agenda-slot-separator {
    width: 0;
    min-height: 0;
    position: initial;
    background: transparent;
}

/* Speakers section */
.recap-agenda-slot-speakers {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
}

.recap-agenda-slot-speaker {
    gap: 1rem;
    display: flex;
    align-items: center;
    margin-block-end: 2rem;
}

.recap-agenda-slot-speaker  div {
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
}

.recap-agenda-slot-speaker-name {
    font-weight: 600;
}

.recap-agenda-slot-speaker-name + span {
    font-size: 1rem;
}

.recap-agenda-slot-speaker button {
    margin: 0;
    padding: 0;
    min-width: 4.5rem;
    min-height: 4.5rem;
    max-width: 4.5rem;
    max-height: 4.5rem;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10rem;
    background: transparent;
}

.recap-agenda-slot-speaker button:is(:hover) {
    box-shadow: 0 0 3px 3px var(--brand-color);
}

.recap-agenda-slot-speaker button:is(:focus) {
    outline: 0.25rem solid var(--brand-color-alt);
}

.recap-agenda-slot-speaker img {
    min-width: 4.5rem;
    min-height: 4.5rem;
    max-width: 4.5rem;
    max-height: 4.5rem;
    border-radius: 10rem;
    transition: all .2s ease-in-out;
}

.recap-agenda-slot-materials ul {
    gap: 1.5rem;
    display: flex;
}

.recap-agenda-slot-materials a {
    gap: 0.5rem;
    text-decoration: none; 
    padding-block: 0.1rem;
    padding-inline: 0.25rem;
}

.recap-agenda-slot-materials a:is(:hover) {
    color: var(--brand-color-alt);
}

.recap-agenda-slot-materials a:is(:focus) {
    outline-color: var(--brand-color-alt);
}

@media only screen and (min-width: 768px) {
    .recap-agenda-slot-info {
        gap: 1.5rem;
    }

    .recap-agenda-slot-info span {
        font-size: var(--type-0);
    }

    .recap-agenda-slot-container {
        gap: 2rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-block-start: 9rem;
    }

    .recap-agenda-slot-talk {
        width: 60%;
    }

    .recap-agenda-slot-speakers {
        width: 48%;
        display: flex;
        flex-direction: column;
        margin-block-start: 2rem;
        justify-content: space-between;
    }

    .recap-agenda-slot-separator {
        width: 0.0625rem;
        min-height: 100%;
        position: relative;
        background: var(--brand-color);
    }

    .recap-agenda-slot-time {
        top: -5rem;
        font-weight: 900;
        text-align: center;
        transform: translateX(-50%);
    }
}