.recap-sponsors-table {
  font-size: var(--type-0);
  /* margin: auto; */
  margin-block: 4rem;
}

@media only screen and (max-width: 750px) {
  .recap-sponsors-table {
    font-size: .85rem;
  }
}

.recap-sponsors-table tr {
  height: 3rem;
}

.recap-sponsors-table thead th {
  line-height: 1.75;
}

.recap-sponsors-sold {
  position: relative;
  color:rgba(255, 219, 207, .7);
}

.recap-sponsors-sold-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 2;
  text-transform: uppercase;
  background: rgba(255, 219, 207, .8);
  backdrop-filter: blur(2px);
  white-space: nowrap;
  color: #5B1B00;
  font-weight: 600;
  transform: translate(-50%, -50%) rotate(-22.75deg);
  padding: 0 10%;
  --mask:
    conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) left/51% 10.00px repeat-y,
    conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) right/51% 10.00px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.recap-sponsors-sold-badge:before,
.recap-sponsors-sold-badge:after {
  top: 0;
  left: -10px;
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 219, 207, .7);
}

.recap-sponsors-sold-badge:after {
  left: auto;
  right: -10px;
  top: 0;
  transform: scaleX(-1);
}

.recap-sponsors-table th:first-child {
  text-align: left;
  padding-inline-start: 0;
}

.recap-sponsors-table tbody th {
  text-align: left;
}

.recap-sponsors-table th, .recap-sponsors-table td {
  line-height: 1.5;
}

.recap-sponsors-table td {
  text-align: center;

}

@media only screen and (min-width: 600px) {

  .recap-sponsors-table th, .recap-sponsors-table td {
    padding-block: .2rem;
    padding-inline: .5rem;
  }

  .recap-sponsors-table td {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 800px) {
  .recap-sponsors-table th, .recap-sponsors-table td {
    padding-block: .5rem;
    padding-inline: 1rem;
  }
}

.recap-sponsors-list {
  margin-block: 6rem;
}

.recap-sponsors-item {
  margin-block: 2rem 1rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.recap-sponsors-item h3 {
  font-size: var(--type-2);
}

.recap-sponsors-container:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.recap-sponsors-socials {
  gap: 1rem;
  display: flex;
  margin-block-end: 1rem;
}

.recap-sponsors-socials a {
  color: var(--brand-color-alt);
}

.recap-sponsors-socials a:hover,
.recap-sponsors-socials a:focus
{
  color: var(--brand-color);
  outline-color: var(--brand-color);
}

.recap-sponsors-socials svg {
  width: 2rem;
  height: 2rem;
}

.recap-sponsors-logo {
  display: block;
  fill: var(--text-color);
  width: 14rem;
  max-height: 8rem;
  min-height: 6rem;
}

.recap-sponsors-logo:is(picture) {
  margin-block: 2rem;
}

.recap-sponsors-badge {
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0;
  color: var(--background-color);
  font-size: 1rem;
  background-image: linear-gradient(55deg, var(--brand-color-alt), var(--brand-color));
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

}

@media only screen and (min-width: 900px) {
 .recap-sponsors-item {
  flex-direction: row;
 }

 .recap-sponsors-container:first-child {
    align-items: flex-start;
  }
}
