.recap-site-header.sponsors .recap-site-back {
  gap: 0;
  color: var(--brand-color-alt);
}

.recap-site-header.sponsors .recap-site-back:is(:focus) {
  outline: none;
  color: var(--brand-color);
  text-decoration: underline;
}

.recap-site-header.sponsors {
  min-height: auto;
  text-align: start;
}

.recap-site-header.sponsors .recap-wrap {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  padding-block: 2rem 0;
  justify-content: space-between;
}

.recap-site-header.sponsors .recap-wrap .recap-logo {
  height: 3rem;
}

.recap-site-header.sponsors h1 {
  font-size: var(--type-4);
}

.recap-sponsors-list {
  margin-block: 4rem 6rem;
}

.recap-sponsors-item {
  margin-block: 2rem 4rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.recap-sponsors-item h3 {
  font-size: var(--type-2);
}

.recap-sponsors-container:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.recap-sponsors-socials {
  gap: 1rem;
  display: flex;
  margin-block-end: 1rem;
}

.recap-sponsors-socials a {
  color: var(--brand-color-alt);
}

.recap-sponsors-socials a:hover,
.recap-sponsors-socials a:focus
{
  color: var(--brand-color);
  outline-color: var(--brand-color);
}

.recap-sponsors-socials svg {
  width: 2rem;
  height: 2rem;
}

.recap-sponsors-logo {
  display: block;
  fill: var(--text-color);
  color: var(--logo-color);
  width: 14rem;
  max-height: 8rem;
  min-height: 7rem;
  display: flex;
  align-items: center;
}

.recap-sponsors-logo:is(picture) {
  margin-block: 2rem;
}

picture img {
  max-width: 100%;
  display: block;
}

svg.agilita {
  fill: #272525;
}

svg.asbrucon {
  fill: #000;
}

@media (prefers-color-scheme: dark) {

  svg.agilita,
  svg.asbrucon {
    fill: var(--logo-color);
  }
}

.recap-sponsors-badge {
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0;
  color: var(--background-color);
  font-size: 1rem;
  background-image: linear-gradient(55deg, var(--brand-color-alt), var(--brand-color));
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

}

@media only screen and (min-width: 900px) {
 .recap-sponsors-item {
  flex-direction: row;
 }

 .recap-sponsors-container:first-child {
    align-items: flex-start;
  }
}

.recap-sponsors-overview-list {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.recap-sponsors-overview-list a {
  width: fit-content;
}

.recap-sponsors-overview-list li:nth-child(2)::after{
    content: "\a";
    white-space: pre;
}

.recap-sponsors-overview-list .recap-sponsors-logo {
  width: 8rem;
  max-height: 4rem;
  min-height: 4rem;
}

.recap-sponsors-overview-list .recap-sponsors-logo:is(picture) {
    margin-block: 0;
}

.recap-sponsors-overview-info {
  text-align: center;
  margin-block-start: 3rem;
}

.recap-sponsors-overview-info p {
  margin-block-end: 2rem;
}

.recap-wrap.sponsors {
  text-align: center;
}

.recap-wrap.sponsors .recap-sponsors-badge {
  display: block;
  margin-inline: auto;
  margin-block: 2rem;
}

@media only screen and (min-width: 900px) {
  .recap-sponsors-overview-list {
    gap: 4rem;
  }

  .recap-sponsors-overview-list .recap-sponsors-logo {
    width: 12rem;
    max-height: 6rem;
    min-height: 6rem;
  }
}