body {
    background-color: #1c2327;
    font-family: sans-serif !important;
}
dd {
    margin-bottom: 1rem;
}
.sapUiGlobalBackgroundColor,
.sapMShellGlobalInnerBackground,
.sapMPageBgStandard {
    background-color: unset !important;
}

.t,
.cfp {
    color: whitesmoke !important;
    font-size: 1.1rem !important;
}
.t-small {
    font-size: small !important
}

/* .cfp > a {
    border: 0.1rem solid #a8a8a8;
    border-radius: 0.8rem;
    padding: 0.4em;
    box-shadow: 0 0 0.8rem #00c8e8;
} */
.what {
    animation: pulsate 1.5s infinite alternate;
    border: 0.1rem solid #a8a8a8;
    border-radius: 0.8rem;
    padding: 0.4em;
    box-shadow: 0 0 0.2rem whitesmoke, 0 0 0.2rem whitesmoke, 0 0 2rem #00c8e8,
        0 0 0.8rem #00c8e8;
}

.motto {
    color: #00beec !important;
    font-size: 1.5rem !important;
}
.when {
    color: whitesmoke !important;
    font-size: 1.7rem !important;
    font-weight: bold;
}
.where {
    /* padding-top: 1.5em; */
    color: whitesmoke !important;
    font-size: 1.1rem !important;
}

.copyt {
    color: whitesmoke !important;
    font-size: 1rem !important;
}

.platin {
    color: #ac9f3c;
}
.gold {
    color: gold;
}
.silver {
    color: silver;
}
.contact::before {
    content: "\1F4E7";
    display: inline;
}
.contact > a {
    padding-left: 0.4em;
    vertical-align: text-bottom !important;
}
li {
    padding-bottom: 1rem;
}

/* iOS */
@supports (-webkit-touch-callout: none) {
    .why,
    .sapMPanelHdr,
    .sapMLnk,
    .cfp,
    .t,
    .copyt,
    .motto,
    /* .where, */
    .when,
    .what {
        font-family: monospace, "Arial" !important;
    }
}

/* Chromium + Firefox + x */
@supports (contain: paint) {
    .why,
    .sapMPanelHdr,
    .sapMLnk,
    .cfp,
    .t,
    .copyt,
    .motto,
    /* .where, */
    .when,
    .what {
        font-family: sans-serif !important;
    }
}

/* Safari */
@supports selector(:nth-child(1 of x)) {
    .why,
    .sapMPanelHdr,
    .sapMLnk,
    .cfp,
    .t,
    .copyt,
    .motto,
    /* .where, */
    .when,
    .what {
        font-family: monospace, "Arial" !important;
    }
}

/* mobile only */
@media only screen and (max-width: 768px) {
    .t1 {
        width: 90%;
    }
}
